<h1>Welcome, <%= @user.username%></h1>
<% if @user.games.length > 0 %>
  <ul>
    <% @user.games.each do |game| %>
      <li><a href="/games/<%= game.id %>"><%= game.title %></li>
    <% end %>
  </ul>
<% else %>
  You don't have any games!
<% end %>
<form method="post" action="/logout">
  <input type="submit" value="Log Out">
</form>