<form method="post" action="/games/<%= @game.id %>/edit">
  <input type="text" name="title" value="<%= @game.title %>">
  <input type="text" name="developers" value="<%= @game.developers %>">
  <input type="text" name="genre" value="<%= @game.genre %>">
  <input type="submit" value="Edit">
</form>